  .product_component_box {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    background: white;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
  }
  
  .product_component_box > a {
    width: max-content;
    height: max-content;
   
  }
  
  .product_component_box_info_all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    height: 120px;
  }

  .product_component_box_info_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product_component_box_info_buttons quantity-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
  }

  .product_component_box_info_name_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
  }

  .product_component_box_info_name_price a {
    text-decoration: none;
  }

  .product_component_box_info_name_price > a > h2 {
    color: rgb(65, 64, 64);
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
  }
  
  .product_component_box_info_name_price > h3 {
    margin: 0;
    font-size: 20px;
    color: black;
  }
  
  .Product-Image {
    width: 210px;
  }

  .product_component_box button {
    background-color: rgba(140,106,82,255);
    color: white;
    font-size: large;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
   
  }

  .product_component_box_info_all button:hover {
    background-color: #493715;
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    row-gap: 3px;
    column-gap: 3px;
  }

  @media (max-width: 900px) {
    .products{
      grid-template-columns: 1fr 1fr;
    }
    
  }
  
  @media (min-width: 901px) and (max-width: 1399px) {
    .products{
      grid-template-columns: 1fr 1fr 1fr  ;
  
    }
  }
  
  @media (min-width: 1400px) {
    .products{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
     
    }
  }