.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  z-index: 1;
}

.left-section {
  justify-content: center;
  align-items: center;
  display: flex;
}

.main-logo {
  width: 90px;
}

.middle-section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
  margin-right: 20px;
}

.search {
  width: 0px;
  flex: 1;
  height: 35px;
  padding-left: 20px;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  border-width: 1px;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  font-size: 17px;
}

.search::placeholder {
  font-size: 17px;
}

.search-button {
  width: 100px;
  height: 39.5px;
  margin-left: -5px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: white;
  border-radius: 0px 20px 20px 0;
  background-color: rgba(140,106,82,255);
  cursor: pointer;
}

.search-button:hover {
  background-color: #493715;
}

.right-section {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.cart-logo-container {
  padding-right: 13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-logo-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  width: 22px;
  height: 22px;
  border: 1px solid white;
  border-radius: 20px;
  top: -4px;
  right: 5px;
  background-color: rgb(51, 119, 51);
}

.cart-logo {
  width: 30px;
}

.cart-price span, p {
  display: block;
}

.cart-price span {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.navi-bar {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  justify-content: space-between;
  top: 75px;
  right: 0;
  left: 0;
  height: 45px;
  background-color: rgb(58, 57, 57);
}

.navi-left-side {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 400;
}




.n-list ul {
  margin-left:  80px;
  display: flex;
  color: grey;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list>ul>li:hover { 
  cursor: pointer;
  color: white;
}

.navi-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  color: grey;
}

.phone-logo {
  width: 30px;
  margin-right: 10px;
}